# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# Compiled directory
#dist/

# Dependency directory
node_modules

# Optional npm cache directory
.npm

.DS_Store
.idea/