#collectionBlog {

  section {
    margin-bottom: 50px;
  }

  .blog-wrapper {
    min-height: 400px;

    .blog {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 10px;
      min-height: 195px;
      display: block;
      transition: all ease-in .2s;

      &:hover {
        opacity: .9;
      }

      .blog-details {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        background-image: linear-gradient(to right, rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6));
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;

        .blog-tag {
          color: $dark-tangerine;
          flex: 1 50%;
          font-size: 12px;
          margin-bottom: 8px;
        }

        .blog-date {
          color: $white;
          flex: 1 50%;
          text-align: right;
          font-size: 12px;
        }

        .blog-title {
          color: $white;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0.05em;
          flex: 1 100%;
          align-self: baseline;
        }
      }
    }

    .blog-wrapper-left {
      flex: 1 65%;
      margin-right: 10px;

      .blog {
        padding-right: 10px;
        min-height: 400px;

        .blog-details {
          padding: 40px 30px 30px;

          .blog-tag, .blog-date {
            font-size: 16px;
          }

          .blog-title {
            font-size: 18px;
            line-height: 35px;
          }
        }
      }
    }

    .blog-wrapper-right {
      flex: 0 35%;
    }
  }

  .blog-wrapper.large {
    display: flex;

    @include breakpoint('medium') {
      display: none;
    }
  }

  .blog-wrapper.medium {
    display: none;
    position: relative;

    .blog-slider {
      overflow-x: hidden;
    }

    .blog {
      width: 100%;
      flex-shrink: 0;
      scroll-snap-align: start;

      &:hover {
        opacity: 1;
      }

      .blog-thumbnail {
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        min-height: 300px;
        display: block;
        transition: all ease-in .2s;
        @include breakpoint('small') {
          min-height: 250px;
        }
      }

      .blog-details {
        position: relative;
        background-image: linear-gradient(to right, rgba(52, 52, 52, 1), rgba(52, 52, 52, 1));
        min-height: 150px;
        padding: 20px 20px;

        .blog-tag {
          font-size: 14px;
        }

        .blog-date {
          font-size: 14px;
        }

        .blog-title {
          font-size: 16px;
          line-height: 20px;
          &:hover {
            opacity: .9;
          }
        }

        @include breakpoint('small') {
          padding: 10px 16px;
          .blog-tag {
            margin-bottom: 0;
          }
        }
      }

    }

    @include breakpoint('medium') {
      display: block;
      .blog-slider {
        display: flex;
      }
    }
  }

  .hands-btn-red {
    float: right;
    @include breakpoint('small') {
      float: unset;
      display: block;
    }
  }

  .blog-section {
    margin-bottom: 120px;
    @include breakpoint('small') {
      margin-bottom: 80px;
    }
  }
}