#collectionBlog {

  section, div {
    //border: 1px solid red;
  }

  section {
    margin-bottom: 50px;
  }

  .blog-wrapper {
    display: flex;
    height: 400px;

    .blog {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 10px;
      min-height: 195px;
      display: block;
      transition: all ease-in .2s;

      &:hover {
        opacity: .9;
      }

      .blog-details {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        background-image: linear-gradient(to right, rgba(52, 52, 52, 0.6), rgba(52, 52, 52, 0.6));
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;

        .blog-tag {
          color: $dark-tangerine;
          flex: 1 50%;
          font-size: 12px;
          margin-bottom: 8px;
        }

        .blog-date {
          color: $white;
          flex: 1 50%;
          text-align: right;
          font-size: 12px;
        }

        .blog-title {
          color: $white;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0.05em;
          flex: 1 100%;
          align-self: baseline;
        }
      }
    }

    .blog-wrapper-left {
      flex: 1 65%;
      margin-right: 10px;

      .blog {
        padding-right: 10px;
        min-height: 400px;

        .blog-details {
          padding: 40px 30px 30px;

          .blog-tag, .blog-date {
            font-size: 16px;
          }

          .blog-title {
            font-size: 18px;
            line-height: 35px;
          }
        }
      }
    }

    .blog-wrapper-right {
      flex: 0 35%;
    }
  }

  .btn-red {
    float: right;
  }

  .blog-section {
    margin-bottom: 180px;
  }

  .tag-section {
    background: $grey;
    padding: 30px;

    > div {
      font-size: 24px;
      color: $cinnabar;
      line-height: 40px;
    }

    .tag {
      font-size: 14px;
      padding: 4px 18px;
      margin-right: 10px;
    }
  }

  .ad-section {
    position: relative;

    img {
      width: 100%;
    }
  }
}