@import "mixin";

$dark-tangerine: #FF9E12;
$cinnabar: #E84228;
$white: #FFFFFF;
$solitude: #EDEFF1;
$light-grey: #D3D3D3;
$dim-gray: #626262;
$gondola: #343434;
$grey: #E5E5E5;
$dark-grey: #C4C4C4;

$font-base: "Noto Sans TC",
"Helvetica Neue",
"Heiti TC",
"Microsoft JhengHei",
"Arial";

$font-comfortaa: 'Comfortaa', $font-base;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $gondola;
  font-family: $font-base;
  margin: 0;
}

.hands-container {
  max-width: 900px;
  margin: auto;
  @include breakpoint(medium) {
    max-width: 600px;
  }
  @include breakpoint(small) {
    max-width: none;
    width: 100%;
    padding: 0 20px;
  }
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: $gondola;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: $cinnabar;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.02em;
  color: $gondola;
  @include breakpoint('small') {
    font-size: 28px;
  }
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: $cinnabar;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: $gondola;
  @include breakpoint('small') {
    font-size: 22px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $gondola;
}

a {
  color: $dim-gray;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

// title
.hands-title {
  color: $dim-gray;

  > * {
    line-height: 1.5em;
    display: inline-block;
  }

  h3 {
    border-bottom: 5px solid $dark-tangerine;
  }

  h5 {
    font-family: $font-comfortaa;
    margin-left: 1em;
  }
}

.hands-subtitle {
  h3 span {
    line-height: 1.5em;
    font-weight: normal;
    color: $cinnabar;
  }
}

// arrow
.hands-arrow {
  border: solid $light-grey;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 14px;

  &.left {
    transform: rotate(135deg);
  }

  &.right {
    transform: rotate(-45deg);
  }

  &.up {
    transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
  }
}

// tag
.hands-tag-section {
  background: $grey;
  padding: 30px;
  margin-top: 180px;

  > div {
    font-size: 24px;
    color: $cinnabar;
    line-height: 40px;
  }

  .tag {
    font-size: 14px;
    padding: 4px 18px;
    margin-right: 10px;
  }

  @include breakpoint('small') {
    margin-top: 100px;
  }
}

// ad
.hands-ad-section {
  position: relative;

  img {
    width: 100%;
  }
}

// avatar
.hands-avatar-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.hands-avatar {
  text-align: center;
  margin: auto 20px 16px;
  transition: all ease-in .2s;
  &:hover {
    opacity: .8;
  }

  .hands-avatar-cover {
    width: 160px;
    height: 160px;
    border-radius: 500px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint('medium') {
      width: 120px;
      height: 120px;
    }
  }

  .hands-avatar-name {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .hands-avatar-category {
    font-size: 16px;
    color: $light-grey;
  }

  &.large {
    margin: auto 20px;
    @include breakpoint('small') {
      margin-bottom: 16px;
    }
    .hands-avatar-cover {
      width: 200px;
      height: 200px;
      @include breakpoint('medium') {
        width: 160px;
        height: 160px;
      }
    }
    .hands-avatar-name {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

// line break
.hands-linebreak {
  width: 100%;
  border-bottom: 1px solid $light-grey;
  margin: 50px auto;
}

// collapse
.hands-collapse-wrapper {
  position: relative;
  max-height: 340px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition: max-height 1s ease-in-out 0s;
  &:before {
    content: "";
    height: 60%;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 75%);
  }
  .hands-btn-more-group {
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
  }
  &.open {
    max-height: 8000px;
    &:before {
      display: none;
    }
    .hands-btn-more-group {
      display: none;
    }
  }
}

// progressbar
.hands-progress-bar {
  position: relative;
  background: $light-grey;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  .bar {
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    &:after {
      position: absolute;
      background: $dark-tangerine;
      content: "";
      width: 100%;
      height: 100%;
    }
  }
  @include breakpoint('medium') {
    height: 8px;
    .bar {
      height: 8px;
    }
  }
}

@import "button";
@import "card";
@import "banner";
@import "collectionBlog";
@import "collectionBlogCategoryTag";
@import "collectionArtist";
@import "pageArtist";