@import "mixin";

$dark-tangerine: #FF9E12;
$cinnabar: #E84228;
$white: #FFFFFF;
$solitude: #EDEFF1;
$light-grey: #D3D3D3;
$dim-gray: #626262;
$gondola: #343434;
$grey: #E5E5E5;

$font-base: "Noto Sans TC",
"Helvetica Neue",
"Heiti TC",
"Microsoft JhengHei",
"Arial";

$font-comfortaa: 'Comfortaa', $font-base;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $gondola;
  font-family: $font-base;
  margin: 0;
}

.hands-container {
  max-width: 900px;
  margin: auto;
  @include breakpoint(medium) {
    max-width: 600px;
  }
  @include breakpoint(small) {
    max-width: none;
    width: 100%;
    padding: 0 20px;
  }
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: $gondola;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: $cinnabar;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.02em;
  color: $gondola;
  @include breakpoint('small') {
    font-size: 28px;
  }
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: $cinnabar;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: $gondola;
  @include breakpoint('small') {
    font-size: 22px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $gondola;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

// title
.hands-title {
  color: $dim-gray;

  > * {
    line-height: 1.5em;
    display: inline-block;
  }

  h3 {
    border-bottom: 5px solid $dark-tangerine;
  }

  h5 {
    font-family: $font-comfortaa;
    margin-left: 1em;
  }
}


// blog card
.hands-blog-card-wrapper {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;

  .hands-blog-card {
    min-height: 250px;
    width: 100%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .hands-blog-card-thumbnail {
    position: relative;
    img {
      width: 100%;
    }
  }

  .hands-blog-card-video {
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid $dark-tangerine;
  }

  .hands-blog-card-content {
    font-weight: bold;
    min-height: 50px;
    padding-right: 10px;
    color: $dim-gray;
    vertical-align: middle;

    &:hover {
      opacity: .9;
    }
  }

  .hands-blog-card-meta {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hands-blog-card-date {
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  .hands-blog-card-date-mobile {
    display: none;
  }

  @include breakpoint('small') {
    flex-wrap: wrap;
    min-height: unset;
    .hands-blog-card {
      margin: auto auto 40px;
    }

    .hands-blog-card-content {
      min-height: unset;
      font-size: 18px;
      margin: 10px auto 8px;
    }

    .hands-blog-card-meta {
      font-size: 16px;
    }

    .hands-blog-card-date {
      display: none;
    }

    .hands-blog-card-date-mobile {
      display: block;
      font-size: 14px;
      line-height: 20px;
      margin-top: 5px;
    }
  }
}

// banner
.hands-banner {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  > div {
    z-index: 1;
    color: $white;
  }
  .hands-banner-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: -30px;
  }
  .hands-banner-subtitle {
    display: none;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .hands-layer {
    background-color: rgba(52, 52, 52, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  @include breakpoint('small') {
    min-height: 300px;
    .hands-banner-title {
      letter-spacing: 3px;
      font-size: 28px;
    }
    .hands-banner-subtitle {
      display: block;
      font-size: 16px;
    }
  }
}

@import "button";
@import "collectionBlog";